#
# ICN83XX capacity touch screen driver configuration
#
config TOUCHSCREEN_ICN83XX
	tristate "ICN83XX I2C Capacitive Touchscreen Input Driver Support"
	depends on ARCH_WMT
	default y
	help
	  Say Y here if you have an WMT based board with touchscreen
	  attached to it.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called s_wmt_ts_icn83xx

